.header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 1px black;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
  align-items: center;
  flex-wrap: nowrap;
}

.logo{
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
  min-width: 500px;
}

.logo span{
  color: MediumAquamarine;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

nav{
  display: inline-flex;
  padding-right: 40px;
}

nav span{
  flex-shrink: 0;
  padding: 20px 10px;
}

nav span a{
  color: black;
}
